.editDate input:focus-visible {
	outline-color: transparent !important;
}

.editDate {
	outline: 1px solid rgba(255, 255, 255, 0.301);
	outline-offset: -1px;
}

button.react-date-picker__clear-button.react-date-picker__button {
	display: none;
}

.react-calendar {
	max-width: 100%;
	background: var(--clr-grey);
	border: 1px solid rgba(255, 255, 255, 0.12);
	// font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
	padding: 0.8rem 1rem;
	border-radius: 0 0 30px 30px;
}
.react-calendar--doubleView {
	width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}

.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 44px;
	background: none;
	background-color: #2e2e2e;
}
.react-calendar__navigation button:disabled {
	// background-color: white;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: var(--clr-grey-highlight);
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
	color: white;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}
.react-calendar__tile {
	max-width: 100%;
	// padding: 10px 6.6667px;
	background: none;
	// margin: 1px;
	text-align: center;
	// line-height: 16px;
	background-color: #2e2e2e;
}
.react-calendar__tile:disabled {
	background-color: rgb(31, 31, 31);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #464646;
}
.react-calendar__tile--now {
	background: $primary;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: $primary;
}
.react-calendar__tile--active {
	background: $primary;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: darken($primary, 10%);
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

.react-date-picker {
	height: 100%;
	width: 100%;
	position: relative;
	// position: absolute;
	left: 0;
}
.react-date-picker--disabled {
	background-color: #f0f0f0;
	color: #6d6d6d;
}
.react-date-picker__wrapper {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
}
.react-date-picker__inputGroup {
	min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
	flex-grow: 1;
	padding: 0 2px;
	box-sizing: content-box;
}
.react-date-picker__inputGroup__divider {
	padding: 1px 0;
	white-space: pre;
}
.react-date-picker__inputGroup__input {
	min-width: 0.54em;
	height: 100%;
	position: relative;
	padding: 0 1px;
	border: 0;
	background: none;
	font: inherit;
	box-sizing: content-box;
	-moz-appearance: textfield;
}
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
	background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
	margin-left: -0.54em;
	padding-left: calc(1px + 0.54em);
}
.react-date-picker__button {
	border: 0;
	background: var(--clr-grey);

	svg {
		stroke: rgba(255, 255, 255, 0.12);
	}
	padding: 4px 6px;
}
.react-date-picker__button:enabled {
	cursor: pointer;
}
.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
	stroke: white;
}
.react-date-picker__button:disabled .react-date-picker__button__icon {
	stroke: #6d6d6d;
}
.react-date-picker__button svg {
	display: inherit;
}
.react-date-picker__calendar {
	width: 350px;
	max-width: 100vw;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}
.react-date-picker__calendar--closed {
	display: none;
}
.react-date-picker__calendar .react-calendar {
	border-width: thin;
}

abbr[title] {
	text-decoration: none;
}

.addDate {
	position: relative;
	font-weight: 300;
	color: #949494;

	&:after {
		content: "";
		width: 100%;
		transform-origin: left;
		height: 1px;
		background-color: $primary;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
	}

	&:hover {
		color: $primary;
		cursor: pointer;
		font-weight: 500;

		&:after {
			animation: lineSlide 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		}
	}
}
