.sliderWrapper {
	display: inline-block;
	opacity: 0;
	animation: sliderContainer 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	animation-delay: 30ms;
	$n: 10;
	@for $x from 0 through $n {
		&:nth-child(#{$x}) {
			animation-delay: 120ms * ($x - 1);

			.sliderHeader {
				animation-delay: 200ms + 120ms * ($x - 1) !important;
			}
		}
	}

	@media screen and (max-width: 500px) {
		width: 100%;
	}
}

.sliderCardContainer {
	--padding: 1rem;
	--br: 2em;
	--fs-header: clamp(14px, 1vw, 24px);
	--fs-p: clamp(12px, 0.8vw, 14px);
	--svg-size: 6rem;

	font-size: var(--fs-header);
	min-width: 17em;
	min-height: 8.5em;
	padding: var(--padding);
	position: relative;
	margin: var(--padding);
	border-radius: var(--br);
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.082);
	background-image: linear-gradient(
		45deg,
		rgb(19, 19, 19) 0%,
		var(--clr-grey-dark) 65%,
		rgb(19, 19, 19) 100%
	);
	background-size: 200%;
	background-position: bottom left;
	box-shadow: -3px 5px 10px #0000007c, 2px -3px 15px rgba(255, 255, 255, 0.096);

	transform: scale(1) translateY(0px);
	transition: transform 0.3s cubic-bezier(0.46, 0.79, 0.67, 1.1),
		box-shadow 0.3s cubic-bezier(0.46, 0.79, 0.67, 1.1), border 0.2s linear,
		background-position 1s cubic-bezier(0.075, 0.82, 0.165, 1);

	overflow: hidden;

	.sliderHeader {
		cursor: pointer;
		font-size: var(--fs-header);
		display: flex;
		opacity: 0;
		animation: fadeRightH 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		animation-delay: 0.3s;
		color: rgba(255, 255, 255, 0.5);

		svg {
			transform: translate(70%, 60%);
			margin-right: var(--padding);
		}

		&:hover {
			color: white !important;
		}
	}

	ul {
		max-width: 75%;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			font-size: var(--fs-p);
			padding: 5px;

			opacity: 0;
			animation-delay: 30ms;
			$n: 10;
			@for $x from 0 through $n {
				&:nth-child(#{$x}) {
					animation-delay: 50ms * ($x - 1) - ($x * 10);
				}
			}
		}
	}

	button {
		padding: 0.5rem 1rem;
		@media screen and (max-width: 1000px) {
			padding: 0.5rem 1rem;
			padding-top: 0.4rem;
		}

		position: absolute;
		right: 2em;
		bottom: 1.2em;
		border-radius: 1rem;
		border: 1px solid rgba(255, 255, 255, 0.082);
		box-shadow: -3px 5px 10px #0000005b, 2px -3px 15px rgba(255, 255, 255, 0.062);
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		opacity: 0;

		&:hover {
			border: 1px solid rgba(255, 255, 255, 0.082);
			background-color: transparent;
			transform: scale(1.1);
			box-shadow: -3px 5px 5px #0000005b, 2px -3px 10px rgba(255, 255, 255, 0.062);
			// box-shadow: -3px 5px 10px #13082cd0, 3px -3px 10px rgba(166, 59, 253, 0.301);
		}
	}

	&:hover {
		border: 1px solid rgba(255, 255, 255, 0.12);
		box-shadow: -3px 5px 20px #0000005b, 2px -3px 20px rgba(255, 255, 255, 0.062);
		transform: scale(1.02) translateY(-5px) !important;
		background-position: top right;

		li {
			animation: fadeRightL 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		}

		svg {
			animation: sliderIcon 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			animation-delay: 200ms;
		}

		.sliderHeader {
			color: rgba(255, 255, 255, 0.75);
		}

		button {
			animation: fadeIn 1s linear forwards;
		}
		h2 {
			&:after {
				animation: lineSlide 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			}
		}
	}
}

@keyframes sliderContainer {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}

@keyframes fadeRightH {
	0% {
		opacity: 0;
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}

.hoverUnderLine {
	position: relative;
	&:after {
		content: "";
		width: 100%;
		transform-origin: left;
		height: 1px;
		background-color: white;
		position: absolute;
		bottom: 4px;
		left: 0;
		transform: scaleX(0);
	}
}