@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'config';
@import 'nav';
@import 'table';
@import 'selector';
@import 'list';
@import 'new';
@import 'status';
@import 'input';
@import 'date';
@import 'slider';
@import 'footer';
@import 'animations';


.app {
    min-height: 100vh;
}

* {
    // font-family: 'Roboto Mono', monospace;
    font-family: 'Nunito', sans-serif;
    // font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif Display', serif;
    // font-family: 'Roboto Mono', monospace;

}

th {
    font-family: 'Noto Serif Display', serif;
    // font-family: 'Roboto Mono', monospace;
}

button {
    border: none;
    background-color: var(--clr-grey);
    color: white;
    text-align: center;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: var(--size-btn);

    &:hover {
        cursor: pointer;
        background-color: var(--clr-primary);
    }
}

input, textarea {
    border: none;
    background-color: var(--clr-grey);
    color: white;
    max-height: var(--size-btn);

    &:focus-visible {
        outline-color: var(--clr-primary);
    }
}

textarea {
    z-index: 5;
}

body{
    height: 100vh; 
    background-color: var(--clr-bg);    
    background: linear-gradient(45deg, #181818 0%, var(--clr-bg) 100%);
}