$primary: #9b6cff;
:root {
	--clr-grey-highlight: #464646;
	--clr-grey: #262626;
	--clr-grey-dark: #1c1c1c;
	--clr-table-odd: #1c1c1c;
	--clr-table-even: #181818;
	--clr-primary: #9b6cff;
	--clr-primary-highlight: #1f1a29;
	--clr-primary-bg: #222024;
	--clr-bg: #292929;
	--clr-bg-nav: #232225;

	--size-btn: 45px;
	--size-btn-small: 30px;
}

.backdrop {
	z-index: 100;
	position: absolute;
	// position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px) brightness(75%);
}

.mainFull {
	margin-left: 50px;
}

main {
	transition: margin-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	padding-top: 5vh;
}

.navLockedMain {
	margin-left: 150px;
	@media (max-width: 1000px) {
		margin-left: 80px;
	}
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-track {
	background: var(--clr-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(153, 153, 153, 0.26);
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
span,
td,
th {
	&::selection {
		background-color: var(--clr-primary);
	}
}
