.dropDown {
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	color: white;
	background-color: var(--clr-grey);
	text-align: center;
	border-radius: 20px;
	user-select: none;
	white-space: nowrap;

	&:hover {
		.selector {
			cursor: pointer;
		}
	}

	.selector {
		text-align: left;

		svg {
			float: right;
		}
	}

	ul {
		list-style: none;
		text-align: left;
	}
}


tr .list {
    max-width: min-content;
	font-size: 10.5px;
    top: 22%;
    position: absolute;
    
    
    ul {
        list-style: none;
        background-color: var(--clr-grey);
        overflow: hidden;
        border-radius: 20px;
    }

    li {
        white-space: nowrap;
		padding: .7rem;
        position: relative;

        &::selection {
            background-color: $primary;
        }

        &:after {
            content: '';
            width: 1000%;
            left: 0;
            height: 1px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.123);
            z-index: 10000;
            top: 0;
        }


        transform: translateX(-15px);
        opacity: 0;
        animation: list .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;


        &:first-child {
            cursor: pointer;
            &:after {
                width: 0;
            }

            transform: translateX(0px);
            opacity: 1;
            animation: none;
        }

        $n : 50;

        @for $x from 2 through $n {
            &:nth-child(#{$x}) {
                animation-delay: 100ms * ($x - 1) - ($x * 10);
            }
        }
    }
}

tr .active {
    max-width: min-content;
    top: 22%;
	z-index: 1000000;
    position: absolute;
	outline: 1px solid $primary;
    outline-offset: 1px;
    box-shadow: 3px 3px 20px var(--clr-grey);

    li:first-child {
        animation: clicked 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
}

tr .noInteract {
    li {
        cursor: auto !important;
    }
}
