// .selector {
//     background-color: var(--clr-grey);
//     width: 100%;
//     border-radius: 30px;
//     padding: 1rem 2rem;
//     font-size: 12px;
//     width: 233px;
//     margin-bottom: 0.5rem;
//     display: block;

//     div {
//         cursor: pointer;
//         svg {
//             float: right;
//         }
//     }

//     ul {
//         // background-color: var(--clr-grey-dark);
//         // border: 1px solid white;
//         list-style: none;
//     }

//     li {
// 		padding: .7rem 0rem;

//         &:hover {
//             cursor: pointer;
//             background-color: $primary;
//         }

//         transform: translateX(-15px);
//         opacity: 0;
//         animation: list .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

//         $n : 50;

//         @for $x from 2 through $n {
//             &:nth-child(#{$x}) {
//                 animation-delay: 100ms * ($x - 1);
//             }
//         }
//     }
// }

.selector {
	user-select: none;
	font-size: 12px;
	margin-bottom: 1rem;
	// overflow: hidden;
	div {
		background-color: var(--clr-grey);
		width: 233px;
		border-radius: 30px;
		padding: 1rem 2rem;
		cursor: pointer;

        svg {
            float: right;
        }
	}

	.spacer {
        background-color: #222222;
		border: 1px solid rgba(255, 255, 255, 0.123);

		border-radius: 0 0 30px 30px;
	}

	ul {
		list-style: none;
		background-color: var(--clr-grey);
		max-height: 15vh;
		overflow-y: scroll;
        border-left: 1px solid rgba(255, 255, 255, 0.123);
        border-right: 1px solid rgba(255, 255, 255, 0.123);

        .selected {
            // background-color: $primary;
			
			background-color: desaturate(darken($primary, 25%), 25%);
			color: white;
			text-decoration: underline;

			&:hover {
				background-color: darken($primary, 5%);
				color: white;

			}
        }

		li {
			padding: 1rem 2rem;
			border-top: 1px solid rgba(255, 255, 255, 0.123);
            color: rgba(255, 255, 255, 0.596);
			max-width: calc(240px - 1rem);

			&:hover {
                color: $primary;
				cursor: pointer;
				// background-color: $primary;
			}

			transform: translateX(-15px);
			opacity: 0;
			animation: list 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

			$n: 50;

			@for $x from 2 through $n {
				&:nth-child(#{$x}) {
					animation-delay: 100ms * ($x - 1);
				}
			}

			span {
				float: right;
				color: rgba(255, 255, 255, 0.123);
			}
		}
	}
}

.activeSelector {
	filter: drop-shadow(0px 0px 5px rgba(166, 59, 253, 0.445));

	div {
		border-radius: 30px 30px 0px 0;
		border: 1px solid rgba(255, 255, 255, 0.123);
        border-bottom: none;
	}
}

td .selector {
	top: 12%;
    position: absolute;
	font-size: 11px;
}

td .activeSelector {
	z-index: 1000000;

	ul {
		max-width: 233px;
	}
}
