.tableContainer {
	position: relative;
	max-width: 90vw;
	background-color: var(--clr-primary-bg);
	padding-bottom: 36px;
	border-radius: 20px;
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.644));
	margin-bottom: 3vh;
	transition: max-width .3s cubic-bezier(0.075, 0.82, 0.165, 1);

	.tableHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--clr-grey-dark);
		padding: 10px 30px;
		border: 1px solid rgba(255, 255, 255, 0.082);
		border-radius: 20px 20px 0 0;
		z-index: 200;

		.tableTitle {
			color: white;
			white-space: nowrap;
			margin-right: 10px;
			@media (max-width: 1000px) {
				margin-right: 5px;
			}

			opacity: 0;
			animation: fadeRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		}

		h2 {
			display: inline-block;
			font-size: 24px;
		}
		p {
			display: inline-block;
			background: linear-gradient(45deg, #222022 0%, var(--clr-grey-highlight) 100%);
			padding: 0.3rem 1rem;
			border-radius: 20px;
			font-size: 12px;
			font-weight: 200;
			transform: translateY(-20%);
			margin-left: 20px;
			@media (max-width: 1000px) {
				margin-left: 5px;
			}

		}
		img {
			position: absolute;
			right: -3rem;
			max-width: 35px;
		}



		.search {
			position: relative;

			span {
				cursor: pointer;
				user-select: none;
				position: absolute;
				color: white;
				top: 50%;
				transform: translate(-2rem, -50%);
			}

			ul {
				position: absolute;
				width: 100%;
				z-index: 1000;
				list-style: none;
				color: white;
				background-color: var(--clr-grey);
				border-radius: 0 0 20px 20px;
				// padding: 1em 0em;
				font-size: 12px;
				text-align: center;
				border: 1px solid rgba(255, 255, 255, 0.123);
			}

			li {
				border-bottom: 1px solid rgba(255, 255, 255, 0.123);

				&:last-child {
					border-bottom: none;
					button {
						border-radius: 0 0 20px 20px;
					}
				}
			}

			button {
				width: 100%;
				border-radius: 0;
				margin: 0;
				transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
				animation: fadeUp 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

				&:hover {
					background: none;
					background-color: $primary;
				}
			}
		}

		input {
			border-radius: 30px;
			padding: 1rem 2rem;

			@media (max-width: 1000px) {
				width: 175px;
			}

			opacity: 0;
			animation: fadeUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		}

		.searchDropDownActive {
			border-radius: 20px 20px 0 0;
		}

		button {
			user-select: none;
			margin-left: 10px;
			@media (max-width: 1000px) {
				margin-left: 5px;
			}
			border-radius: 30px;
			width: calc(var(--size-btn) * 3);
			height: var(--size-btn);
			transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			min-width: 63px;

			opacity: 0;
			animation: fadeUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
					2px -1px 15px rgba(desaturate(adjust-hue($primary, 15), 5%), 0.18);
				background: linear-gradient(45deg, #302a30 0%, $primary 100%);
				text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.301);
			}
		}
	}
	::-webkit-scrollbar-track {
		background: inherit;
	}
}

.tableWrapper {
	// max-height: 80vh;
	// overflow-x: scroll;
	@media (max-height: 900px) {
		scroll-snap-type: y mandatory;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		text-align: left;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		tr {
			border-bottom: 1px solid rgba(255, 255, 255, 0.082);

			@media (max-height: 900px) {
				scroll-snap-align: start;
				scroll-margin: 57px;
				scroll-padding: 20px;
			}

			animation: fadeRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;

			$n : 50;
			@for $x from 2 through $n {
				&:nth-child(#{$x}) {
					animation-delay: 25ms * ($x - 1) - ($x * 10);
				}
			}

			&:nth-child(odd) {
				td {
					background-color: var(--clr-table-even);
				}
			}

			transition: box-shadow .1s cubic-bezier(0.075, 0.82, 0.165, 1);
			transition-delay: 0s;
			box-shadow: 0px 0px 0px $primary;
  
			&:hover {
				transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
				transition-delay: .25s;
				box-shadow: 5px 0px 0px $primary;
			};
		}

		thead {
			z-index: 100;
			position: sticky;
			top: 0;
			backdrop-filter: blur(15px) brightness(80%);
			box-shadow: 0 1px 1px rgba(255, 255, 255, 0.082);
			transform: translate3d(0, 0, 0);

			tr {
				&:hover {
					box-shadow: 0 0 0 transparent;
				} 
			}
		}

		th {
			user-select: none;
			// background-color: rgba(0, 0, 0, 0.445);
			color: white;
			font-size: 18px;
			font-weight: normal;
			padding: 14px 1rem;
			opacity: 0;
			animation: fadeUp .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			animation-delay: .2s;

			.icon {
				display: none;
			}
		}

		.sortable,
		.sort {
			cursor: pointer;
		}

		.sort {
			// text-decoration: underline;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: $primary;
				transform-origin: left;
				animation: lineSlide 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			}
			.icon {
				transform-origin: top;
				display: inline;
				position: absolute;
				bottom: 50%;
				font-size: 0.7em;
				opacity: 0;
				animation: sort 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			}
		}

		td > * {
			width: 100%;
		}

		td {
			max-width: 160px;
			min-width: 62px;
			position: relative;
			font-size: 12px;
			color: white;
			background-color: var(--clr-table-odd);
			padding: 1rem 1rem;

			&:after {
				content: "";
				top: 25%;
				height: 50%;
				width: 1px;
				position: absolute;
				right: 0;
				background-color: #fdfdfd4d;
			}

			&:first-child {
				color: $primary;
				&::selection {
					background-color: rgb(11, 10, 26);
				}
			}

			&:nth-last-child(1),
			&:nth-last-child(2),
			&:nth-last-child(3) {
				&:after {
					height: 0;
				}
			}
		}

		td:first-child,
		th:first-child {
			padding-left: 30px;
		}

		.edit {
			.editInput {
				background-color: inherit;
				text-indent: 1rem;
				position: absolute;
				width: 100%;
				min-height: 100%;
				top: 0;
				bottom: 0;
				left: 0;
				font-size: 12px;
				// outline-offset: -1px;
				// outline: rgba(255, 255, 255, 0.301) solid 1px;
			}
			td {
				background-color: var(--clr-primary-highlight) !important;
				&:first-child {
					input {
						text-indent: calc(1rem + 15px);
					}
				}
				&:after {
					height: 0;
				}
			}
		}

		button {
			white-space: nowrap;
			height: var(--size-btn-small);
			font-size: 12px;
			border-radius: 20px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			svg {
				transform: translate(0px, 1px);
			}
		}
	}
	.delete:hover {
		background-color: red;
	}
}

.confirm {
	outline: 1px solid $primary;
}
.checkboxContainer {
	--size: 17px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	.checkbox {
		height: var(--size);
		width: var(--size);
		background-color: var(--clr-grey);
		border-radius: 3px;
		outline: 1px solid white;

		&:hover {
			background-color: rgb(71, 71, 71);
		}
	}
	.checked {
		background-color: $primary;
		font-size: 24px;

		&:hover {
			background-color: desaturate(darken($primary, 10%), 60%);
		}

		svg {
			transform: translate(-3px, -3px);
		}
	}
}

.invalid {
	outline: 1px solid red !important;
}

.fi {
	position: relative;
	svg {
		// position: absolute;
		transform: translateY(2px);
	}
	// z-index: 1000;
}

.filterWrapper {
	display: inline-block;
	position: relative;
	width: 150px !important;
	color: white;
}

.filterContainer {
	// display: flex;
	// white-space: nowrap;
	border: 1px solid $primary;
	position: absolute;
	transform: translateX(-50%);
	width: 120%;
	background-color: var(--clr-grey-dark);
	padding: 1rem;
	text-align: left;
	z-index: 10000;
	top: 3.1rem;
	border-radius: 20px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.534);
	opacity: 0;
	animation: fadeFilterContainer .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
	transform-origin: left;

	.ok {
		position: absolute;
		max-width: 45px;
		min-width: 45px !important;
		padding: 0;
		max-height: 30px;
		top: .6rem;
		display: inline-block;
		right: 1.5rem;

		&:hover {
			background: none !important;
			background-color: $primary !important;
		}

	}


	.status {
		position: absolute;
		display: inline-block;
		transform: translate(.85rem, -5px);
	}
} 
