.padding-24 {
	padding: 24px;
}

.padding-16 {
	padding: 1rem;
}

.padding-6 {
	padding: 6px;
}

.fs-medium {
	font-size: var(--fs-medium);
}

.br-20 {
	border-radius: 20px;
}

.br-10 {
	border-radius: 10px;
}

.bg-linear-gradient-main {
	background: linear-gradient(45deg, var(--clr-bg-700) 0%, var(--clr-bg-400) 100%);
}

.bg-primary-400 {
	background-color: var(--clr-primary-400);
}

.overflow-hidden {
	overflow: hidden;
}

button {
	cursor: pointer;
	color: var(--clr-white);
	text-decoration: none;
	border: none;

	&:focus-visible {
		outline: 2px solid var(--clr-white);
	}
}

.span-label {
	position: relative;
	span {
		display: none;
		pointer-events: none;
		user-select: none;
		background-color: var(--clr-grey-900);
		border: 1px solid var(--clr-border-700);
	}

	&:hover {
		span {
			top: 50%;
			white-space: nowrap;
			position: absolute;
			display: inline;
			transform: translate(0px, -50%) scaleX(0);
			padding: 0.2em 1em;

			transform-origin: left;
			opacity: 0;
			animation: span-label 0.2s var(--at-c-main) forwards;
			animation-delay: var(--transition-hover-delay);

			@media screen and (max-width: 750px) {
				display: none;
			}
		}
	}
}

@keyframes span-label {
	0% {
		opacity: 0;
		transform: translate(0px, -50%) scaleX(0);
	}
	100% {
		opacity: 1;
		transform: translate(20px, -50%) scaleX(1);
	}
}

.arrow-span-label {
	position: relative;
	span {
		--bg: var(--clr-grey-900);
		display: none;
		pointer-events: none;
		user-select: none;
		text-transform: lowercase;
		z-index: 100;
	}

	&:hover {
		span {
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 150%);
			white-space: nowrap;
			position: absolute;
			display: inline;
			padding: 0.2em 1em;
			background-color: var(--bg);
			border-radius: 6px;
			font-size: var(--fs-small);
			outline: 1px solid var(--clr-border-700);

			opacity: 0;
			animation: fadeIn 0.5s var(--at-c-main) forwards;
			animation-delay: 1s;

			@media screen and (max-width: 750px) {
				display: none;
			}

			&:after {
				content: " ";
				display: block;
				border-style: solid;
				border-width: 0 0.5em 0.8em 0.5em;
				border-color: transparent;
				position: absolute;
				left: calc(50% - 0.5em);
				top: -0.7em;
				border-bottom-color: var(--bg);
			}
		}
	}
}

.arrow-span-label-exception {
	position: relative;
	span:nth-child(2) {
		--bg: var(--clr-grey-900);
		display: none;
		pointer-events: none;
		user-select: none;
		text-transform: lowercase;
		z-index: 100;
	}

	&:hover {
		span:nth-child(2) {
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 150%);
			white-space: nowrap;
			position: absolute;
			display: inline;
			padding: 0.2em 1em;
			background-color: var(--bg);
			border-radius: 6px;
			font-size: var(--fs-small);
			outline: 1px solid var(--clr-border-700);

			opacity: 0;
			animation: fadeIn 0.5s var(--at-c-main) forwards;
			animation-delay: 1s;

			@media screen and (max-width: 750px) {
				display: none;
			}

			&:after {
				content: " ";
				display: block;
				border-style: solid;
				border-width: 0 0.5em 0.8em 0.5em;
				border-color: transparent;
				position: absolute;
				left: calc(50% - 0.5em);
				top: -0.7em;
				border-bottom-color: var(--bg);
			}
		}
	}
}

.hoverUnderLine {
	position: relative;
	&:after {
		content: "";
		width: 100%;
		transform-origin: left;
		height: 1px;
		background-color: white;
		position: absolute;
		bottom: 4px;
		left: 0;
		transform: scaleX(0);
	}
}

@keyframes lineSlide {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.confirm {
	background-color: var(--clr-grey-500);
	padding: 0.5em 1em;
	border-radius: 9px;
	font-weight: var(--fw-700);
	border: 1px solid var(--clr-border-700);

	&:hover {
		background-color: var(--clr-grey-400);
		color: var(--clr-white);
		border: 1px solid var(--clr-border-400);
	}
}
.cancel {
	padding: 0.5em 1em;
}

.delete {
	padding: 0.5em 1em;
	&:hover {
		color: var(--clr-warning);
	}
}

.null {
	font-style: italic;
	color: rgb(148, 148, 148) !important;
}

.invalid {
	outline: 1px solid red !important;
	outline-offset: -1px;
}

.displayNone {
	display: none;
}
