@import 'config';
@import 'nav';
@import 'table';
@import 'animations';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: var(--clr-grey);
    color: white;
    text-align: center;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: var(--size-btn);

    &:hover {
        cursor: pointer;
        background-color: var(--clr-primary);
    }
}

input, textarea {
    border: none;
    background-color: var(--clr-grey);
    color: white;
    max-height: var(--size-btn);

    &:focus-visible {
        outline-color: var(--clr-primary);
    }
}

body{
    height: 100vh; 
    background-color: var(--clr-bg);    
    background: linear-gradient(45deg, #181818 0%, var(--clr-bg) 100%);
}